.wrapper{
    width: 400px;
    height: 400px;
    border: aqua solid 3px;
    border-radius: 20px;
    padding: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    gap: 20px;
}

.buttonBox{
    border: aqua solid 3px;
    border-radius: 20px;
    width: 300px;
    height: 60px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 35px;
}