.app{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}

.btnBox{
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
}

.btnBox::after{
    position: absolute;
    content: '';
    height: 70px;
    width: 30px;
    background: #4b4b4b;
    border-radius: 15px;
    left: -40px;
}

.btnBox::before{
    position: absolute;
    content: '';
    height: 30px;
    width: 30px;
    background: #860000;
    border-radius: 50%;
    left: -40px;
    z-index: 1;
    transition: .3s;
}

.btnBox.pos1::before{
    top: 0;
}

.btnBox.pos2::before{
    top: 40px;
}

.btnBox a{
    display: block;
    color: #ffffff;
    width: 100px;
    height: 30px;
    background: #000;
    border-radius: 15px;
    text-align: center;
    text-decoration: none;
    line-height: 30px;
    transition: .3s;
}

.btnBox a:hover{
    transform: scale(1.1);
}

.btnBox a:active{
    transform: scale(0.8);
}
